html{
  zoom: 65%;

  /* ---primary-color: #0097a7;
  ---secondary-color: #757575;
  ---bg-color: black;
  ---font-color: #222;
  ---second-font-color: #bbb;
  ---hover-color: white;
  ---bg-hover-color: rgba(0,0,0,0.3); */

  ---primary-color: #bbb;
  ---secondary-color: #757575;
  ---bg-color: #444;
  ---font-color: black;
  ---second-font-color: #bbb;
  ---hover-color: #fff;
  ---bg-hover-color: rgba(90,90,90,1);


  ---aside-bg-color: var(---bg-color);
  ---aside-font-color: var(---primary-color);
  ---footer-bg-color:var(---bg-color);
  ---footer-font-color: var(---second-font-color);
  ---content-bg-color: var(---primary-color);
  ---content-font-color: var(---font-color);
  ---list-bg-color: var(---secondary-color);
}

div.switchBox{
  align-self: flex-end;
  position: fixed;
  /* display: flex;
  justify-content: flex-start; */
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #000;
  background: #444;
  padding: 2px 5px;
}

div.switchBox:hover i.fa, div.switchBox:active i.fa{
  text-shadow: 5px 5px 35px white, -5px -5px 35px white,
   -5px 5px 35px white, 5px -5px 35px white;
}

.on .fa{
  margin-left: 70%;;
}

.off .fa{
  margin-right: 70%;
}


div.switchBox .fa {
  color: var(---primary-color);
  font-size: 2em;
  text-shadow: 5px 5px 5px var(---bg-hover-color), -5px -5px 5px var(---bg-hover-color),
   -5px 5px 5px var(---bg-hover-color), 5px -5px 5px var(---bg-hover-color);

   transition-duration: .5s;
   transition-property: margin-left, margin-right;
   transition-timing-function: ease-out;
   position: relative;
   top:20%;
}




html, body{
  height:100%;
  margin:0px;
  padding:0px;
  overflow: hidden;
  font-family: 'Lato',cursive;
  font-style: italic;
  font-style: 'Light Italic';
}

body {
  display: flex;
  flex-direction: column;
}
main{
  background: #eee;
  flex: 1 0 auto;
  display:flex;

}
footer{
  background: var(---footer-bg-color);
  /* color: var(---footer-font-color); */
  flex: 0 0 100px;
}

aside{
  background: var(---aside-bg-color);
  flex:0 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3em;
  color: var(---aside-font-color);
}
aside p{
  margin: 0;
  padding: 20px;
  border-radius: 5px;
}

aside i{
  transition-property: color, background-color, border-radius;
  transition-duration: .5s, .5s, .3s;
  color: inherit;
}


aside p:hover, aside p:active {
  background-color: var(---bg-hover-color);
}

aside p:hover i, aside p:active i{
  color: var(---hover-color);
  transform: scale(1.3);
}

section.content {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
}

div.music-content{
  background: var(---content-bg-color);
  flex: 0 0 300px;
  display: flex;
  padding: 2em;

}

section.content div.music-content img.music-image{
  flex: 0 1 400px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;;
}

section.content div.music-content div.music-info{
  flex: 1 1 0;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color:var(---content-font-color);
}

div.music-content div.music-info p{
  font-size: 1.2em;
  padding: 5px 15px;
  border-radius: 10px;
  transition: .3s background-color;
  cursor: pointer;
}

div.music-content div.music-info p:hover,
div.music-info div.content-music-controls div.icon:hover{
  background-color: var(---bg-hover-color);
  color: var(---hover-color);
}

section.content div.music-content div.music-info h1{
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
}

div.music-info div.content-music-controls{
  color: var(---font-color);
  font-size:1.2em;
  margin-top:auto;
  display: flex;

}

div.music-info div.content-music-controls div.icon i.fa{
  font-size: 1.3em;
}

div.music-info div.content-music-controls div.icon{
  transition: .3s background-color;
  cursor: pointer;
  padding:10px;
  border-radius: 10px;
}


div.music-list{
  flex: 1 0 0;
  display: flex;
  flex-direction: column;

}
section.content{
    background: var(---list-bg-color);
}


div.music-list ul li{
  font-size: 1rem;
  list-style: none;
  flex:1 0 40px;
  padding: 15px 0px 15px 50px;
  display: flex;
  color: var(---font-color);
}

div.music-list ul li:hover{
  /* list background color is left static */
  background-color: var(---bg-hover-color);
  color: var(----hover-color);
}

div.music-list ul li:hover span {
  color: var(---hover-color);
}

div.music-list ul li:hover span.catty-cloud{
  border-color: var(---hover-color);
}

div.music-list li span.catty-cloud{
  font-size: .8em;
  border: 1px solid var(---font-color);
  padding: 5px;
}

div.music-list li p{
  margin:0px;
}


 li span{ flex: 0 0 25%; }

 li:nth-child(2n){ background: var(---primary-color);  }

 footer{
   display: flex;
   color: var(---footer-font-color);
 }

 footer div.details{
   flex: 2 1 auto;
   display: flex;
 }

 footer div.controls{
   flex: 1 1 auto;
   display: flex;
   justify-content: space-around;
   align-items: center;

 }

 footer div.controls i{
   font-size: 1.3em;
 }
 footer div.controls p{
   padding: 20px 20px;
   border-radius: 10px;
   margin: 0;
   transition-timing-function: ease-out;
   transition-property: color, background-color;
   transition-duration: .3s, .5s;
 }

 footer div.controls p:hover{
   color: var(---hover-color);
   background: var(---bg-hover-color);
 }

 footer div.details img.footer-image{
   max-width: 120px;
   padding: 10px;
   border-radius: 10px;
 }

 footer div.details div.now-playing{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   font-size: 1.1rem;
 }

 footer div.details div.now-playing p{
   margin: 0px;
 }



 @media screen and (max-device-width: 900px), screen and (max-width: 900px){

   html{
     zoom: 100%;
   }

   div.music-content{
     flex: 0 0 320px;
     flex-direction: column;
     padding: 10px;
   }

   section.content div.music-content img.music-image{
     flex: 0 0 100px;
     max-width: 50%;
     max-height: 50%;
     border-radius: 10px;
     margin:15px auto 15px auto;
   }
   section.content div.music-content div.music-info{
     margin-left: 0;
     text-align: center;
     align-items: center;
   }

   section.content div.music-content div.music-info h1{
     font-size: 1.5em;
   }
   section.content div.music-content div.music-info p{
     font-size: 1.2em;
     margin: 5px 0 0 0;
   }


   div.music-list ul li{
     font-size: 1rem;
     padding: 5px 0px 5px 10px;

   }
   div.music-list ul{
     padding: 0;
   }


  div.music-info div.content-music-controls{
    justify-content: center;
  }

  div.music-info div.content-music-controls div.icon i.fa{
    font-size: 1.2em;
  }

  footer div.controls p{
    padding: 5px;
  }

}

 @media screen and (max-device-width: 500px), screen and (max-width: 500px) {
   div.music-content{
     flex: 0 0 280px;
   }

   div.music-list ul li{
     font-size: .8rem;
     padding-top:5px;
     padding-bottom: 5px;
   }
   footer{
     flex: 0 0 70px;
   }
   aside{
     flex:0 0 40px;
     font-size: 1em;
   }
   section.content div.music-content div.music-info h1{
     font-size: 1em;
   }
   section.content div.music-content div.music-info p{
     font-size: .9em;
   }

   div.music-list li span.catty-cloud{
     display: none;
   }
   li span{ flex: 0 0 33.3333333%; }

   div.music-info div.content-music-controls div.icon{
     font-size: .8em;
   }

 }

 @media screen and (max-device-width: 370px), screen and (max-width: 370px) {
   div.music-content{
     flex: 0 0 255px;
   }
   section.content div.music-content div.music-info p{
     margin: 0px;
   }
   footer{
     flex: 0 0 50px;
   }

   div.music-info div.content-music-controls div.icon{
     font-size: .7em;
   }

   div.music-list ul li{
     padding: 2px 5px 2px 5px;

   }

   footer div.details{
     flex: 1 1 auto;
   }

   footer div.controls{
     flex: 4 1 auto;
   }

   footer div.controls i{
     font-size: .7rem;
     border: 1px solid var(---footer-font-color);
     padding: 5px;
   }

   footer div.details img.footer-image{
     display: none;
   }

   footer div.details div.now-playing{
     padding: 10px;
   }
   footer div.details div.now-playing p{
     font-size: .7rem;
   }

 }

 @media screen and (max-device-height:600px), screen and (max-height: 600px) {
   section.content div.music-content div.music-info h1{
     font-size: .9em;
   }


 }

 @media screen and (max-device-width:750px), screen and (max-width: 750px) {
   div.music-list li span.catty-cloud{
     border: none;
     padding: 0;
   }

 }

 @media screen and (max-device-width: 600px), screen and (max-width: 600px){

   footer div.details{
     flex: 1 1 auto;
   }

   footer div.controls{
     flex: 4 1 auto;
   }

   div.controls i{
     font-size: 1.1em;
   }

   footer div.details img.footer-image{
     display: none;
   }

   div.details div.now-playing{
     font-size: 1rem;
     padding-left: 20px;
   }
 }
